@full-breakpoint: ~'only screen and (min-width: 75em)'; // 1200px
@tablet-full-breakpoint: ~'only screen and (min-width: 68.75em)'; // 1100px
@tablet-extended: ~'only screen and (min-width: 64rem)'; //1024px
@tablet: ~'only screen and (min-width: 48rem)'; //768px
@mid-breakpoint: ~'only screen and (min-width: 41em)'; // 656px
@mobile-extended: ~'only screen and (min-width: 31em)'; // 496px
@mobile: ~'only screen and (min-width: 25em)'; // 400px
