<header>
    <a href="/" class="logo">The Agile Den</a>
    <!--<div class="social-media">
        <ul>
            <li><a href="#"><i class="material-icons">mail_outline</i></a></li>
            <li><a href="#" target="_blank"><img src="../../assets/Facebook_icon_2013.svg.png" alt="Facebook"></a></li>
            <li><a href="#" target="_blank"><img src="../../assets/Twitter-icon.png" alt="Twitter" class="twitter"></a></li>
            <li><a href="#" target="_blank"><img src="../../assets/Google-Plus-icon.png" alt="Google Plus"></a></li>
            <li><a href="#" target="_blank"><img src="../../assets/1024px-Logo_of_YouTube_(2015-2017).svg.png" alt="You Tube" class="you-tube"></a></li>
            <li><a href="#" target="_blank"><img src="../../assets/Instagram_icon.png" alt="Instagram"></a></li>
        </ul>
    </div>-->
    <!--<div class="search">
        <label for="search">Search
            <input type="text" id="search">
        </label>
    </div>-->
    <nav class="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Coaching Framework</a></li>
            <li><a href="#">What's Happening</a></li>
            <li><a href="#">Resources</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>
    <div class="login">
        <a href=""><img src="../../assets/user_login.png" alt="User Login"></a>
    </div>
    <nav class="mobile-menu">
        <button class="menu-toggle" mat-icon-button [matMenuTriggerFor]="appMenu">
            <i class="material-icons">menu</i>
        </button>
        <mat-menu #appMenu="matMenu" xPosition="after" yPosition="below">
            <button mat-menu-item>Home</button>
            <button mat-menu-item>Coaching Framework</button>
            <button mat-menu-item>What's Happening</button>
            <button mat-menu-item>Resources</button>
            <button mat-menu-item>Blog</button>
            <button mat-menu-item>Contact Us</button>
            <button mat-menu-item>Den Users</button>
        </mat-menu>
    </nav>
</header>
