@import '../less/colors.less';
@import '../less/breakpoints.less';

header {
    color: @text;
    font-family: 'Lato', sans-serif;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-shadow: 0 2px 10px #cdcdcd;
    align-items: center;

    .logo {
        color: @text;
        font-family: 'Oswald', sans-serif;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 700;
        text-decoration: none;
        display: block;
        padding: 2rem;
        margin-right: auto;
    }

    .social-media {    
        ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            padding: 0;

            li {
                list-style: none;
                padding: 1rem;

                a {
                    color: @text;

                    img {
                        width: 24px;

                        &.twitter {
                            width: 28px;
                        }

                        &.you-tube {
                            width: 45px;
                            margin-top: .20rem;
                        }
                    }
                }
            }

            @media @mid-breakpoint {
                justify-content: flex-end;
            }
        }
    }

    .search {
        margin: 1rem;
        padding: 1rem 0;
    }

    .login {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 1rem;

        img {
            width: 3.5rem;
        }
    }

    nav {
        &.menu {
            display: none;

            @media @tablet-extended {
                display: block;
            }
        }

        &.mobile-menu {
            @media @tablet-extended {
                display: none;
            }
        }
        
        height: 3.5rem;
        position: relative;

        .menu-toggle {
            height: 100%;
            width: auto;
            padding: .5rem;
            position: absolute;
            right: 0;
            background-color: transparent;
            border: 0;
            color: @text;

            .material-icons {
                font-size: 2rem;
            }

            span {
                background-color: @white;
                height: .25rem;
                margin: 0 .2rem;
            }
        }

        ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            padding: 0;
            margin: 0;
            text-align: center;

            li {
                list-style: none;
                flex-grow: 1;

                a {
                    color: @text;
                    display: block;
                    font-weight: 100;
                    padding: 1rem;
                    text-decoration: none;
                    transition: background-color 150ms ease;
                    
                    &:hover {
                        color: #aaaaaa;
                    }

                    @media @tablet-extended {
                        height: 1.5rem;
                    }
                }
            }
        }
    }
}

.mat-menu-item {
    background-color: transparent;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: @white;
    font-size: 1.1rem;
    text-transform: uppercase;

    &:hover {
        background-color: @secondary;
        color: @text;
    }
}