/* You can add global styles to this file, and also import other style files */
@import './app/less/colors';

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-overlay-container {
    position: fixed;
    width: 100%;
}

.cdk-overlay-pane {
    width: 100%;
}

.mat-menu-panel {
    max-width: 100% !important;
    width: 100%;
    box-shadow: none;
    border-radius: 0 !important;
}

.mat-menu-content:not(:empty) {
    background-color: @primary;
}